<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>KCBargains</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/site.webmanifest">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>


    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body class="d-flex flex-column min-vh-100" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto mr-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger card" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    @if (!User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle zoom-out-in" asp-area="" asp-controller="Products" asp-action="Index" data-bs-toggle="dropdown">Bargains</a>
                            <ul class="dropdown-menu m-0 p-0">
                                <li class="nav-item zoom-out-in"> <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">All Deals</a></li>
                                <li class="nav-item zoom-out-in"> <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Add">Add Deal</a></li>
                            </ul>
                        </li>
                    }

                    <li><partial name="_LoginPartial" /></li>
                </ul>

            </div>
        </div>
    </nav>

    <div id="page-top">
        <main role="main">
            @RenderBody()

            <!-- Modal -->
            <div class="modal fade" id="demoLogin" tabindex="-1" role="dialog" aria-labelledby="demoLoginLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content card" id="demoLoginModal">
                        <div class="modal-header border-0 text-white" id="demoLoginModalHeader">
                            <div class="modal-title" id="exampleModalCenterTitle">
                                <div class="d-flex mr-5">
                                    <button type="button" id="demoLoginModalClose" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-center ml-5"><h4><b>Demo Login Options</b></h4></div>
                                <div class="d-flex justify-content-center ml-4">
                                    <a>Sign in using below demo accounts with different roles</a>
                                </div>
                            </div>

                        </div>
                        <div class="modal-body ">

                            <div class="row p-2 mr-5 ml-5 mb-3 "><button class="btn btn-primary btn-lg btn-block text-center zoom-out-in" id="basicUser" onclick="demoLogin('standarduser')" data-dismiss="modal"><i class="far fa-user mr-2"></i> STANDARD USER</button></div>
                            <div class="row p-2 mr-5 ml-5 mb-3"><button class="btn btn-warning btn-lg btn-block text-center zoom-out-in" id="admin" onclick="demoLogin('admin')" data-dismiss="modal"><i class="far fa-user mr-2"></i> ADMIN</button></div>
                            <div class="row p-2 mr-5 ml-5 mb-3"> <button class="btn btn-danger btn-lg btn-block text-center zoom-out-in" id="superAdmin" onclick="demoLogin('superadmin')" data-dismiss="modal"><i class="far fa-user mr-2"></i>SUPER ADMIN</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--This will be used for overlay time out animation-->
            <div id="overlay">
                <div class="cv-spinner">
                    <span class="spinner"></span>
                </div>
            </div>
        </main>
    </div>

    <!-- Footer-->
    <footer class="footer py-4 mt-auto">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © KCBargains 2021</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Contact form JS-->
    <script src="~/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)



</body>
</html>
