@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var UserName = UserManager.GetUserName(User);
    var user = await UserManager.FindByNameAsync(UserName);
    var FirstName = user.FirstName;
    var userProfilePicture = user.ProfilePicture;
    var UserRoles = UserManager.GetRolesAsync(user).Result; //returns a list of user roles
    var SuperAdmin = UserRoles.Contains("SuperAdmin", StringComparer.OrdinalIgnoreCase); //check for SuperAdmin user
    var Admin = UserRoles.Contains("Admin", StringComparer.OrdinalIgnoreCase); //check for Admin user

<ul class="navbar-nav text-uppercase ml-auto">



    @if (SuperAdmin)
    {
        <li class="nav-item"><a class="nav-link js-scroll-trigger card" asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles</a></li>
    }

    @if (SuperAdmin || Admin)
    {
        <li class="nav-item"> <a class="nav-link js-scroll-trigger card" asp-area="" asp-controller="Retailers" asp-action="Index">Retailers</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger card" asp-area="" asp-controller="Products" asp-action="List">Products</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger card" asp-area="" asp-controller="Categories" asp-action="Index">Product Categories</a></li>
    }

    @if (userProfilePicture != null)
    {
        <li class="nav-item mr-0 pr-0">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                <img class="zoom-out-in" style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(userProfilePicture))">
            </a>
        </li>
    }

    <li class="nav-item ml-0 pl-0">
        <a class="nav-link js-scroll-trigger card" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @FirstName!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
              method="post">
            <button type="submit" class="nav-link js-scroll-trigger card">LOGOUT</button>
        </form>
    </li>
</ul>
}
else
{
    <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item"> <a class="nav-link js-scroll-trigger card" id="register" asp-area="Identity" asp-page="/Account/Register">Sign up</a> </li>
        <li class="nav-item"> <a class="nav-link js-scroll-trigger card" id="login" asp-area="Identity" asp-page="/Account/Login">Sign in</a></li>
        <li class="nav-item mr-4"><a class="nav-link js-scroll-trigger card" data-toggle="modal" data-target="#demoLogin">Demo Login</a></li>
    </ul>
}


