@page
@model LogoutModel


        <div class="text-center">
            <h2 class="section-heading text-uppercase">LOG OUT</h2>
            <h4>You have successfully logged out of the application</h4>
        </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
