@model List<Microsoft.AspNetCore.Identity.IdentityRole>


<div class="container w-75 p-3">
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Role Manage - Admin View</h2>
                <h3 class="section-subheading text-muted">Manage assigned roles here</h3>
            </div> 
            
            <form asp-controller="UserRoles" asp-action="Add" method="post">
                <div class="input-group">
                    <input name="roleName" class="form-control w-25">
                    <span class="input-group-btn">
                        <button class="btn btn-info">Add New Role</button>
                    </span>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>
</div>