@page
@model IndexModel
@{
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>Profile</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />


<form id="profile-form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="row">
        <div class="col-md-6">

            <!-- First Name input -->
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <div class="input-group">
                    <input asp-for="Input.FirstName" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <!-- Last Name input -->
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <div class="input-group">
                    <input asp-for="Input.LastName" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <!-- Phone Number input -->
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <div class="input-group">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>

        </div>

        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Profile Picture input -->
            <div class="form-group profile-container justify-content-center d-flex">


                <img class="profile-img rounded" id="profilePicture" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">

                <!--Check to see if user profile picture is the default avatar picture,Hide Delete button if user profile picture is the default avatar picture,only option should be upload a new picture-->
                @if (Model.DefaultPicture.Length != Model.Input.ProfilePicture.Length)
                {
                    <!--Delete picture button-->
                    <a class="remove-image" style="display: inline; top: 0px; right: 0px;" href="#">&#215;</a>

                }

                <!--Hidden input is used to let "index.cshtml.cs" know of the delete action. "Input.DeletePicture" field is false boolean by default. When delete button is clicked, below JQquery code changes the value of this field to "true" and submits the form-->
                <input class="form-control" id="deletePicture" asp-for="Input.DeletePicture" value="false" type="hidden" />

                <input class="upload-img" type="file" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" asp-for="Input.ProfilePicture" />
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>
            </div>
        </div>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

        <script type="text/javascript">
   
            $('#file').on('change', function () {
                var url = URL.createObjectURL(this.files[0]);
                $('#profilePicture').attr("src", url);
                $("#update-profile-button").trigger('click'); //submit the form
            });

            $('.remove-image').click(function () {
    @*            $(this).hide();
                var url = $('#defaultPicture').attr('src');
                $('#profilePicture').attr("src", url);*@
                $('#deletePicture').val(true); //set the value of Input.DeletePicture to "true" so that defaul avatar picture can be uploaded to user table.
                $("#update-profile-button").trigger('click'); //submit the form
            });

        </script>



    }
